<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbar Web</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>

    <style>
        .panel-heading{
	      background-color: #2d7a6c !important;
	      color: #ffffff !important;
    }
    .navbar{
	      background-color: #2d7a6c !important;
    }

    .navbar-brand:link,.navbar-brand:visited{
	      color: #ffffff !important;
    }

    .navbar-brand:hover,.navbar-brand:active{
      	color: #050505 !important;
    }

    #navbar li a:link,#navbar li a:visited{
	      color: #ffffff !important;
    }

    #navbar li a:hover,#navbar li a:active{
      	color: #050505 !important;
    }

    
  </style>

  <script>
    fetch('http://localhost:4000/cargar')
    .then((respuesta) => {
        return respuesta.json();
    }).then((respuesta) => {
        document.getElementById('wnombre').value = respuesta[2].name;
        //document.write(respuesta);
        console.log(respuesta);
    }); 
    
  </script>



</head>

<body>
    <br>

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">RRHH</a>
            </div>
            <ul id="navbar" class="nav navbar-nav">
                <li><a href="/empleado">Empleado</a></li>
                <li><a href="/listaempleado">Lista Empleado</a></li>
                <li><a href="/listacontrato">Lista Contrato</a></li>
                <li><a href="/cargarweb">Carbar Web</a></li>
            </ul>
        </div>
    </nav>

    <div id="winformacion">
        <input type="text" id="wnombre">
        <input type="text" id="wtelefono">
        <input type="text" id="wdireccion">
    </div>



</body>

</html>